body {
  background-color: #000000;
}

#bird{margin-left:15px;}

#navbar {
	font-weight:bold;
  position: absolute;
  line-height: 4em;
  margin-left: 130px;
}

#navbar a { text-decoration:none;
			padding-top:10px;
			padding-bottom:10px;
			padding-right:30px;
			padding-left:20px; 
			border-radius:9999px;
			color:white; }

#navbar a:hover { 	background-color:#031019;
					border: 1px solid #031019;
					color:#1da1f2;}	

#navbar a:active{color:#1da1f2;}	

#navbar .navbar-toggler{ 
						 margin-left:62px;
						 padding:15px; 
						 padding-left:15px;
						 padding-right:15px;}		

#navbar button {
	padding:10px;
padding-right:80px;
padding-left:80px; 
border-radius:9999px;}



#menubar{margin-left:10px;}

.row {padding-left:40px;
	padding-right:40px;
}

#icon {
  margin-left: 5px;
  margin-bottom: 5px;
  position: absolute;
}
#icon{	z-index:-1;
		margin-left:5px;
		margin-bottom:5px; 
		position:absolute;}

#icons{ 
		margin-left:5px;
		margin-bottom:5px; 
		margin-top:10px;}

#icond{margin-left:70px;}

#tittle {font-weight:bold;
	color:white;
	font-size:25px;
	padding-left:20px;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid grey;
	border-right:1px solid grey;
	border-left:1px solid grey;}

#post {
  border-bottom: 10px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

#posttext {
	border:0px;
	font-size:20px;
	height:40px;
  background-color: #000000;
  margin-top: 5px;
  margin-left: 75px;
  color: grey;
}

.material-icons {
  vertical-align: middle;
  color: #1679b6;
  border: 1px solid #1679b6;
}

#icons {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#article {
  border-bottom: 10px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

#icon2 {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  position: absolute;
}

h6 {padding-top:20px;
  padding-left: 100px;
  color: white;
}

#imga{	width:500px;
		margin-left:100px;
		border-radius:1%;}

#text {
	  margin-top: 40px;
	   max-width: 1008px;
	  margin-left: 100px;
	  color: white;}

#article a {
			text-decoration:none;}


#photop {position:absolute;
		margin-left:5px;
		margin-bottom:5px; 
		margin-top:-30px;
		width:4em;
		height:4em;
		border-radius:50%;
		border: 1px solid white;}		


#tittle2 {font-weight:bold;
	color:white;
	margin-bottom:0px; 
	font-size:25px;
	padding-left:20px;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid grey;
	border-right:1px solid grey;
	border-left:1px solid grey;
	padding-left:50px;}	

#titrep{padding-left:60px;}	

#back{	margin-left:10px;
		margin-top:15px;
		position:absolute;}

#font{height:300px;
	width:1108px;}	

#photodp{margin-left:25px;
		margin-top:230px;
		position:absolute;
		width:10em;
		height:10em;
		border-radius:50%;
		border: 1px solid green;}		

#part2{margin-top:100px;
	margin-left:10px;}

#tittle3 {font-weight:bold;
	color:white;
	font-size:25px;}

#modifier{text-decoration:none;
		color:#1b94de;
		padding:10px;
		margin-left:900px;
		position:absolute;
		border:1px solid #007bff;
		border-radius:9999px;
		margin-top:-85px;}

#modifier:hover{background-color:#031019; }	

#urself{color:grey;}



#part3{ 
		margin-left:10px;
		color:white;}	

#start{ border-bottom:1px solid grey;
		border-right:1px solid grey;
		border-left:1px solid grey;}	

table{ margin-top:30px;}	

td{ color:grey;
	font-size:20px; 
padding-left:94.5px;
padding-right:94.5px;
padding-top:10px;
padding-bottom:10px; }

td:hover{background-color:#031019;
		border: 1px solid #031019;
		color:#1da1f2;}

a{color:#1da1f2;}

a:hover{color:#1da1f2;}

#articlem {margin-left:-130px;
padding:20px;}

#articlem svg{
padding-right:15px;
padding-left:15px;}	

#articlem svg:hover{border-radius:9999px;
					background-color:#031019;
					border: 1px solid #031019;
					color:#1da1f2;}	

#rt svg:hover{border-radius:9999px;
	 background-color:#09140e;
	 border: 1px solid #09140e;
	 color:#1d5f3d;}

#like svg:hover{border-radius:9999px;
	 background-color:#150a0e;
	 border: 1px solid #150a0e;
	 color:#893854;}

#zoom {margin-left:100px;}

#start2{ border-right:1px solid grey;
		border-left:1px solid grey;}	


#pseudo {margin-top:30px;}

#urself2{
		margin-left:95px;
		position:absolute;
		color:grey;}

#peng{  position:absolute;

		margin-left:5px;
		margin-top:5px; 
		width:4em;
		height:4em;
		border-radius:50%;
		border: 1px solid white;}

#tittle4 {font-weight:bold;
	color:white;
	margin-bottom:0px; 
	font-size:25px;
	padding-left:20px;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid grey;
	padding-left:50px;}	

#article2 {
  border-bottom: 10px solid grey;
}			

#more #search .explorer { padding-left:20px; 
	padding-right:60px;
	padding-bottom:5px; 
	padding-top:5px;
	margin-top:10px;
	border:1px solid #1da1f2;
	background-color:#202327;
	border-radius:9999px;}	
  
 
#search {
  display: flex;align-content: space-around; 
}
#champ{
  width: 600px;margin-left: 250px;margin-top: 10px; margin-bottom: 10px;height: 40px;
}
.bi-bi-gear-fill{
  margin-top: 5px;margin-left: 10px
}

#commentaire{border-bottom:1px solid grey;}

#commentp{padding-left:80px;}

#commenttext{padding-left:80px;}

#text2 {
	  margin-top: 10px;
	   max-width: 1008px;
	  margin-left: 80px;
	  color: white;}

#tweet{ padding-left:20px;
		padding-right:20px; 
		border-radius:9999px;
	margin-left:720px;}	

#more{	margin-left:1540px;
		position:absolute;}

#more svg {margin-top:5px;}		

#more #search { padding-left:20px; 
				padding-right:60px;
				padding-bottom:5px; 
				padding-top:5px;
				margin-top:10px;
				border:1px solid #1da1f2;
				background-color:#202327;
				border-radius:9999px;}		

#more input {margin-left:10px;
			border:0px;
			background-color:#202327;}	

#more #p { 	border-radius:19px;
			border-bottom: 1px solid grey;
			background-color:#202327;
			padding-top:10px;
			padding-bottom:10px;
			padding-left:15px;
			padding-right:40px;    
			margin-top:20px; 
			font-size:19px;
			font-weight:bold;
			color:white;}

#people{background-color:#202327;
		padding:10px; 
		border-radius:19px;}			

#people #suggestions{
			font-size:20px;
			color:white;
			font-weight:bold;
			padding-bottom:5px; 
			margin-bottom:20px;
			border-bottom:1px solid grey;}

#people #photop {	margin-left:15px;
					margin-top:-10px;}						

#people #profil2 { 	padding-top:20px;
					font-weight:bold;
					color:white;
					margin-top:100px;
					margin-left:85px;}

#people #plus {margin-left:20px;}

#people #plus1 { margin-top:5px;
				 padding:5px;}					

#people1{	padding-bottom:10px;
			margin-bottom:20px;	
			border-bottom:1px solid grey;}

#people2{	padding-bottom:10px;
			border-bottom:1px solid grey;}

#urself3{
		margin-left:80px;
		color:grey;}

#follow{width:80px;
		height:40px;
		font-weight:bold;
		border-radius:9999px;
		border:1px solid #1da1f2;
		background-color:#202327;
		color:#1da1f2;
		font-size:15px;
		margin-top:-50px;
		margin-left:250px;}

#follow:hover{background-color:#1c2b37;}

#people3{margin-top:20px; 
		background-color:#202327;
		padding:10px; 
		border-radius:19px;}

#people3 #suggestions{
			margin-left:10px;
			font-size:20px;
			color:white;
			font-weight:bold;
			padding-bottom:5px; 
			margin-bottom:20px;
			border-bottom:1px solid grey;}

#people3 #photop {	margin-left:15px;
					margin-top:-10px;}						

#people3 #profil2 { 	padding-top:20px;
					font-weight:bold;
					color:white;
					margin-top:100px;
					margin-left:85px;}

#people3 #plus {margin-left:20px;}

#people3 #plus1 { margin-top:5px;
				 padding:5px;}

#article #photop{z-index:-1;}	

		 					